.box {
  padding: 56px;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: #e2e2ff1c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.userform {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.userform > div {
  margin-bottom: 10px;
}

.label {
  margin-right: 20px;
  color: #e2e2ff;
}

input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border-style: none;
}

.btn {
  color: #e2e2ff;
  font-size: 16px;
  background-color: #012332;
  height: 35px;
  width: 110px;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
}

.btn:hover {
  box-shadow: 0px 2px 5px 0px #4156bdbd;
}

::placeholder {
  color: rgba(169, 169, 169, 0.514);
  font-size: 12px;
}
